
<div class="accessibility-page">
    <h3>Tilgjengelighet</h3>
    <div class="text-box-accessibility">
        
    </div>

    <div class="side-innhold">

        <div class="text">
            <h3>Hjem</h3>
            <div class="text-box-accessibility">Valgte å fjerne bildene når skjermstørrelsen er under 800px med hensyn på for mye scrolling.</div>
        </div>
        

        <div class="bilde">
            <img src="../assets/img/home.png">
        </div>
    </div>
    
    <div class="side-innhold">
        <div class="text">
            <h3>Booking</h3>
            <div class="text-box-accessibility">
                Her er det laget to divs, hvor venstre del av siden forteller litt om lokalene. På høyre side er det mulig å sende inn en bestilling via epost. På høyre side kan skjermbilde av WCAG test ses, erroren som vises klager på at knappen ikke har en funksjon. 
            </div>
        </div>

        <div class="bilde">
            <img src="../assets/img/booking.png">
        </div>
    </div>
    
    <div class="side-innhold">
        <div class="text">
            <h3>Meny</h3>
            <div class="text-box-accessibility">
                Valgte å fjerne bildene når skjermstørrelsen er under 800px med hensyn på for mye scrolling. Vi bestemte oss for å vise rettene i en kolonne for bedre lesbarhet. 
            </div>
        </div>

        <div class="bilde">
            <img src="../assets/img/meny.png">
        </div>
        
    </div>
    
    <div class="side-innhold">
        <div class="text">
            <h3>Aktuelt</h3>
            
        </div>

        <div class="bilde">
            <img src="../assets/img/aktuelt.png">
        </div>
    </div>

    
</div>