
<div class="accessibility-page">
    <h3>Tilgjengelighet</h3>
    <div class="text-box-accessibility">Valgte å fjerne bildene når skjermstørrelsen er under 800px med hensyn på for mye scrolling.</div>

    <div class="side-innhold">

        <div class="text">
            <h3>Hjem</h3>
        </div>
        

        <div class="bilde">
            <img src="../assets/img/home.png">
        </div>
    </div>
    
    <div class="side-innhold">
        <div class="text">
            <h3>Booking</h3>
        </div>

        <div class="bilde">
            <img src="../assets/img/booking.png">
        </div>
    </div>
    
    <div class="side-innhold">
        <div class="text">
            <h3>Meny</h3>
            <div class="text-box-accessibility">Valgte å fjerne bildene når skjermstørrelsen er under 800px med hensyn på for mye scrolling.</div>
        </div>

        <div class="bilde">
            <img src="../assets/img/meny.png">
        </div>
        
    </div>
    
    <div class="side-innhold">
        <div class="text">
            <h3>Aktuelt</h3>
        </div>

        <div class="bilde">
            <img src="../assets/img/aktuelt.png">
        </div>
    </div>

    
</div>