<div class="booking-main">
    <div id="booking-container">
        <div id="booking-information">
            <div class="booking-information">
                <p class="booking-text">Velkommen til oss!</p>
                <p class="booking-heading">
                    Legg inn mer tekst her <br><br>
                    
                    Hos oss garanterer vi kvalitet fra lokale råvarer, tilberedet av kokker som brenner for å gi deg det beste av det norsk natur kan tilby!<br>
                    Vi tilbyr også utleie av lokaler for spesielle anledninger, som kan romme opptil 70 personer. <br>
                    Kontaktinformasjon til våre lokaler i Oslo og Bergen finner du på denne siden.
                </p>
            </div>
        
        </div>
        <!-- 
        <div id="booking-restaurants">
            <div class="booking-restaurant">
                <p class="booking-restaurant-header">Oslo</p>
                <p class="booking-restaurant-adress">
                    Osloveien 22<br>
                    0001 Oslo
                </p>
                <p class="booking-restuarant-telephone">Tlf: +47 111 12 222</p>
                <p class="booking-restuarant-mail">
                    E-post: 
                    <a href="mailto:bookingoslo@house.com"> bookingoslo@house.com </a>
                </p>
                <div id="booking-restuarant-opening-hours">
                    <h3>Åpningstider:</h3>
                    <p class="booking-restuarant-opening-weekday">Mandag - torsdag: 15:00 - 23:00</p>
                    <p class="booking-restuarant-opening-weekend">Fredag - Søndag: 12:00 - 01:30</p>
                </div>
                <p class="booking-restuarant-kitcheninfo">Kjøkkenet stenger 30 minutter før restauranten.</p>
            </div>
            <div class="booking-restaurant">
                <p class="booking-restaurant-header">Bergen</p>
                <p class="booking-restaurant-adress">
                    Bergensgaten 46<br>
                    0002 Bergen
                </p>
                <p class="booking-restuarant-telephone">Tlf: +47 333 34 444</p>
                <p class="booking-restuarant-mail">
                    E-post: 
                    <a href="mailto:bookingbergen@house.com"> bookingbergen@house.com </a>
                </p>
                <div id="booking-restuarant-opening-hours">
                    <h3>Åpningstider:</h3>
                    <p class="booking-restuarant-opening-weekday">Mandag - torsdag: 16:00 - 23:30</p>
                    <p class="booking-restuarant-opening-weekend">Fredag - Søndag: 13:00 - 00:00</p>
                </div>
                <p class="booking-restuarant-kitcheninfo">Kjøkkenet stenger 45 minutter før restauranten.</p>
            </div>
    
        </div>
        -->
    </div>


    <div class="container-contact-form">
        <form action="">
            
            <div class="contact-form-top">
                <label for="name">Full name</label>
                <input type="text" id="name" name="name" placeholder="Your name..">
      
                <label for="lname">Phone number</label>
                <input type="text" id="phonenumber" name="lastname" placeholder="Your phone number">
            </div>
            <br>
            
            <div>
                <label for="date">Date</label>
                <input type="date" id="date" name="date" placeholder="Pick a booking date.. ">
            </div>
        
            <br>
      
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <a href="mailto: example@mail.com?subject = name"><input type="submit" value="Submit"></a>
      
        </form>
      </div>
</div>

<!-- 
<div id="booking-container">
    <div id="booking-heading">
        <p class="heading-text">Kontakt oss</p>
    </div>
    
    <div id="booking-information">
        <div class="booking-information">
            <p class="booking-text">Velkommen til oss!</p>
            <p class="booking-heading">
                Legg inn mer tekst her <br><br>
                
                Hos oss garanterer vi kvalitet fra lokale råvarer, tilberedet av kokker som brenner for å gi deg det beste av det norsk natur kan tilby!<br>
                Vi tilbyr også utleie av lokaler for spesielle anledninger, som kan romme opptil 70 personer. <br>
                Kontaktinformasjon til våre lokaler i Oslo og Bergen finner du på denne siden.
            </p>
        </div>
    
    </div>
    
    <div id="booking-restaurants">
        <div class="booking-restaurant">
            <p class="booking-restaurant-header">Oslo</p>
            <p class="booking-restaurant-adress">
                Osloveien 22<br>
                0001 Oslo
            </p>
            <p class="booking-restuarant-telephone">Tlf: +47 111 12 222</p>
            <p class="booking-restuarant-mail">
                E-post: 
                <a href="mailto:bookingoslo@house.com"> bookingoslo@house.com </a>
            </p>
            <div id="booking-restuarant-opening-hours">
                <h3>Åpningstider:</h3>
                <p class="booking-restuarant-opening-weekday">Mandag - torsdag: 15:00 - 23:00</p>
                <p class="booking-restuarant-opening-weekend">Fredag - Søndag: 12:00 - 01:30</p>
            </div>
            <p class="booking-restuarant-kitcheninfo">Kjøkkenet stenger 30 minutter før restauranten.</p>
        </div>
        <div class="booking-restaurant">
            <p class="booking-restaurant-header">Bergen</p>
            <p class="booking-restaurant-adress">
                Bergensgaten 46<br>
                0002 Bergen
            </p>
            <p class="booking-restuarant-telephone">Tlf: +47 333 34 444</p>
            <p class="booking-restuarant-mail">
                E-post: 
                <a href="mailto:bookingbergen@house.com"> bookingbergen@house.com </a>
            </p>
            <div id="booking-restuarant-opening-hours">
                <h3>Åpningstider:</h3>
                <p class="booking-restuarant-opening-weekday">Mandag - torsdag: 16:00 - 23:30</p>
                <p class="booking-restuarant-opening-weekend">Fredag - Søndag: 13:00 - 00:00</p>
            </div>
            <p class="booking-restuarant-kitcheninfo">Kjøkkenet stenger 45 minutter før restauranten.</p>
        </div>

    </div>
</div> -->