
<script src="js/home.js"></script>


<div class="home-front-top">
    <div id="booking-restaurants">
        <div class="booking-restaurant">
            <p class="booking-restaurant-header">Oslo</p>
            <p class="booking-restaurant-adress">
                Osloveien 22<br>
                0001 Oslo
            </p>
            <p class="booking-restuarant-telephone">Tlf: +47 111 12 222</p>
            <p class="booking-restuarant-mail">
                E-post: 
                <a href="mailto:bookingoslo@house.com"> bookingoslo@house.com </a>
            </p>
            <div id="booking-restuarant-opening-hours">
                <h3>Åpningstider:</h3>
                <p class="booking-restuarant-opening-weekday">Mandag - torsdag: 15:00 - 23:00</p>
                <p class="booking-restuarant-opening-weekend">Fredag - Søndag: 12:00 - 01:30</p>
            </div>
            <p class="booking-restuarant-kitcheninfo">Kjøkkenet stenger 30 minutter før restauranten.</p>
        </div>
        <div class="booking-restaurant">
            <p class="booking-restaurant-header">Bergen</p>
            <p class="booking-restaurant-adress">
                Bergensgaten 46<br>
                0002 Bergen
            </p>
            <p class="booking-restuarant-telephone">Tlf: +47 333 34 444</p>
            <p class="booking-restuarant-mail">
                E-post: 
                <a href="mailto:bookingbergen@house.com"> bookingbergen@house.com </a>
            </p>
            <div id="booking-restuarant-opening-hours">
                <h3>Åpningstider:</h3>
                <p class="booking-restuarant-opening-weekday">Mandag - torsdag: 16:00 - 23:30</p>
                <p class="booking-restuarant-opening-weekend">Fredag - Søndag: 13:00 - 00:00</p>
            </div>
            <p class="booking-restuarant-kitcheninfo">Kjøkkenet stenger 45 minutter før restauranten.</p>
        </div>

    </div>
</div>
<!--
    
    <div class="container-slide">
    <div class="slideshow fade">
        <div class="number">1 / 3</div>
        <img class="visualimg" src="../assets/img/home/bildeEn.jpg"> ttps://www.pexels.com/photo/people-inside-room-and-surrounding-table-1581554/ 
        <div class="text">Welcome to our resturant</div>
    </div>
    
    <div class="slideshow fade">
        <div class="number">2 / 3</div>
        <img class="visualimg" src="../assets/img/home/bildeEn.jpg"> 
        <div class="text">We have many good dishes</div>
    </div>
    
    <div class="slideshow fade">
        <div class="number">3 / 3</div>
        <img class="visualimg" src="../assets/img/home/bildeEn.jpg"> 
    </div>

    <a class="prev" onclick="nextSlide(-1)">&#10094;</a>
    <a class="next" onclick="nextSlide(1)">&#10095;</a>
</div>

<div class="dots">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

--->

