

<div class="home-left">
    <div class="home-textbox">
        <h1> Autentiske norske retter</h1>
        <p> På vår nettside finner du alt du ønsker å vite om vår meny og booking av bord i våre to flotte lokaler i Oslo og Bergen.</p>
        <p> Vi oppdaterer menyen jevnlig, avhengig av hvilke råvarer som er tilgjengelige.</p>
    </div>
</div>
<div class="home-right">
    <div class="home-textbox">
        <h2> Vi har ledige plasser til ditt julebord, reserver i dag!</h2>
    </div>
</div>



