
    <div id="menu-container">
        <div id="menu-heading">
            <p class="heading-text">Matretter</p>
        </div>
        
        <div id="menu-items">
            <div class="menu-item">
                <p class="menu-item-header">Frittata Olivia</p>
                <p class="menu-item-price">149,-</p>
                <p class="menu-item-description">Varmrøkt laks, asparges, poteter, reddik, syltet rødløk, crème fraîche og pepperrotdressing, focaccia</p>
                <p class="menu-item-allergens">Egg, hvete, melk, sennep, svoveldioksid og sulfitt</p>
            </div>
            <div class="menu-item">
                <p class="menu-item-header">Insalata al salmone</p>
                <p class="menu-item-price">129,-</p>
                <p class="menu-item-description">Marinert artisjokk, oliven, hvitløk, parmesan, sitron og brødsmuler</p>
                <p class="menu-item-allergens">Fisk, hvete, melk, selleri, svoveldioksid og sulfitt</p>
            </div>
            <div class="menu-item">
                <p class="menu-item-header">Insalata pollo e pancetta</p>
                <p class="menu-item-price">249,-</p>
                <p class="menu-item-description">Romanosalat, kyllingbryst, sprøstekt pancetta, parmesan, soltørkede tomater, spinat, soyabønner og syltet rødløk</p>
                <p class="menu-item-allergens">Egg, hvete, melk, soya, svoveldioksid og sulfitt</p>
            </div>
            <div class="menu-item">
                <p class="menu-item-header">Insalata caprese con parma</p>
                <p class="menu-item-price">249,-</p>
                <p class="menu-item-description">Blandet salat, parmaskinke, mozzarella di bufala, tomater, pesto genovese og pinjekjerner</p>
                <p class="menu-item-allergens">Hvete, melk, pinjekjerne, soya, svoveldioksid og sulfitt</p>
            </div>
            <div class="menu-item">
                <p class="menu-item-header">4 formaggi</p>
                <p class="menu-item-price">199,-</p>
                <p class="menu-item-description">Mozzarella, pecorino, parmesan, gorgonzola</p>
                <p class="menu-item-allergens">Hvete, melk</p>
            </div>
            <div class="menu-item">
                <p class="menu-item-header">Mare e monti</p>
                <p class="menu-item-price">199,-</p>
                <p class="menu-item-description">Crème fraîche, chili- og hvitløksmarinert scampi, italiensk krydret pølse, blandet sopp</p>
                <p class="menu-item-allergens">Hvete, melk, skalldyr</p>
            </div>
        </div>
        
        <div id="menu-heading">
            <p class="heading-text">Drikkevarer</p>   
        </div>

        <div id="menu-items">
            <div class="menu-item">
                <p class="menu-item-header">Mineralvann</p>
                <p class="menu-item-price">39,-</p>
                <p class="menu-item-description">Coca cola <br> Fanta <br> Solo</p>
            </div>
            <div class="menu-item">
                <p class="menu-item-header">Alkohol</p>
                <p class="menu-item-description">Frydenlund <br> Heiniken <br> Vin</p>
                <p class="menu-item-allergens">Allergener: Hvete</p>
            </div>