#booking {
    display: flex;
    margin: auto;
    width: 80%;
    background-color: #f5f5f5;
    border-color: #0f0809;
    border-radius: 20px;
}

#booking-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

#booking-heading {
    display: flex;
    justify-content: center;
}

#booking-information {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f5f5f5;
}

.booking-information {    
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-color: #233a49;
    margin: 100px;
    width: 1000%;
    padding: 50px;
    background-color: #ffffff;
}


.booking-restaurant {    
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border-color: #233a49;
    margin: 10px;
    width: 40%;
    padding: 10px;
    background-color: #ffffff;
}

#booking-restaurants {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f5f5f5;
}



#line {
    color: black;
    width: 20%;
    margin: auto;
}

.booking-restaurant-header {
    font-family: 'Quicksand', bold;
    font-size: 30px;
}

.booking-restaurant-adress {
    font-family: 'Quicksand', normal;
    font-size: 15px;
}

.booking-restuarant-opening-weekday {
    font-family: 'Quicksand', normal;
    font-size: 15px;
}

.booking-restuarant-opening-weekend {
    font-family: 'Quicksand', normal;
    font-size: 15px;
}

.booking-restuarant-kitcheninfo {
    font-family: 'Quicksand', oblique;
    font-size: 15px;
}

.booking-restuarant-telephone {
    font-family: 'Quicksand', oblique;
    font-size: 15px;
}

.booking-restuarant-mail {
    font-family: 'Quicksand', oblique;
    font-size: 15px;
}

.booking-text {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Quicksand', bold;
}
