#home-container {
    display: flex;
    margin: auto;
}


.home-front-top {
    max-width: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-image: url("https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); /* Gratis å bruke - https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 */
}

.frontimg{
    max-width: 100%;
    height: auto;
}


#booking {
  display: flex;
  margin: auto;
  width: 80%;
  border-color: #0f0809;
  border-radius: 20px;
}

#booking-container {
  display: flex;
  flex-direction: column;
  background-color: #233a49;
  border-top-left-radius: 20px;
  border-right-color: black;
  
}

#booking-information {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.booking-information {    
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border-color: #233a49;
  margin: 100px;
  width: 1000%;
  padding: 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}


.booking-restaurant {    
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border-color: #233a49;
  margin: 10px;
  width: 40%;
  padding: 10px;
  background-color: #ffffff;
}

#booking-restaurants {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}



#line {
  color: black;
  width: 20%;
  margin: auto;
}

.booking-restaurant-header {
  font-family: 'Quicksand', bold;
  font-size: 30px;
}

.booking-restaurant-adress {
  font-family: 'Quicksand', normal;
  font-size: 15px;
}

.booking-restuarant-opening-weekday {
  font-family: 'Quicksand', normal;
  font-size: 15px;
}

.booking-restuarant-opening-weekend {
  font-family: 'Quicksand', normal;
  font-size: 15px;
}

.booking-restuarant-kitcheninfo {
  font-family: 'Quicksand', oblique;
  font-size: 15px;
}

.booking-restuarant-telephone {
  font-family: 'Quicksand', oblique;
  font-size: 15px;
}

.booking-restuarant-mail {
  font-family: 'Quicksand', oblique;
  font-size: 15px;
}

.booking-text {
  font-weight: bold;
  font-size: 40px;
  font-family: 'Quicksand', bold;
}

/* 

*{box-sizing: border-box;}

.visualimg {
    max-width: 100%;
    height: 800px;
}

.container-slide {
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.slideshow {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dots {
    text-align: center;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

*/