@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

body {
    background-color: #9be8ff70;
    margin: 0px; /* remove the margin around the body */
}

#header {
    width: 100%;
    height: calc(2vh);
    background-color: #5fb3e7;
    height: 100px;
    display: flex;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
} 

#header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#header-nav {
    display: flex;
    padding-left: 200px;
}

.nav-button {
    letter-spacing:.2em;
    text-transform: uppercase;
    font-size: 1.5em;
    text-shadow:1px 0px rgba(black,.4);
    padding: 20px;
    color: black;
    text-decoration: none; /* Fjerner linje under */
    font-weight: 600;
}

.nav-button:hover{
    color: #F1F6FF;
}

#container {
    display: flex;
}

.nav {
    height: 60px;
    width: 100%;
    background-color: #F1F6FF;
    margin: auto;
    top: 0;
}
   




/* Text */
.large-text {
    font-size: 2.5em;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
}